<p-card header="Liste Des Clients" [style]="{'width': '100%'}">
  <p-table #dt [value]="clients" [paginator]="true" [rows]="5" [globalFilterFields]="['nom', 'email']" [loading]="loading" [responsive]="true">
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
<!--        <th>Actions</th>-->
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-client let-columns="columns">
      <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.nom }}</td>
        <td>{{ client.email }}</td>
        <td>
<!--          <div class="flex gap-2">-->
<!--            <button (click)="editCustomer(customer)" class="bg-blue-500 text-white w-20 h-10 rounded">-->
<!--              <i class="pi pi-pencil"></i>-->
<!--              Edit-->
<!--            </button>-->

<!--            <button (click)="deleteCustomer(customer)" class="bg-red-500 text-white w-20 h-10 rounded">-->
<!--              <i class="pi pi-trash"></i>-->
<!--              Delete-->
<!--            </button>-->

<!--            <a pRipple-->
<!--               class="flex justify-center items-center bg-green-500 text-white w-20 h-10 rounded"-->
<!--               routerLink="/admin/accounts/customer/{{ customer.id }}"-->
<!--            >-->
<!--              Accounts-->
<!--            </a>-->
<!--          </div>-->

        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">
          <p class="flex items-center justify-center h-40 text-2xl">
            No customers found.
          </p>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="loading" />
  </p-table>
</p-card>
